@import 'custom';

/*!----------------------------------------------------------------
 *
 *  設定
 *
 *----------------------------------------------------------------*/

$primary-color: #CC3333;
$light-gray: #fcfcfc;
$medium-gray: #f0f0f0;
$dark-gray: #c0c0c0;
$black-gray: #555;
$black: #0a0a0a;
$white: #fefefe;


/*!----------------------------------------------------------------
 *
 *  調整
 *
 *----------------------------------------------------------------*/

.unit {
  padding:0 0 2rem;
  max-width:700px;
  margin:auto;

  &.small {
    max-width:600px;
  }

  @media screen and (max-width: 767px) {
    padding:0 1rem 2rem;

    &.no-padding{
      padding:0 0 2rem;
    }
  }
}



.colored {
  background-color: $medium-gray;
  padding:1rem 0 1rem;
}

.text-center {
  text-align: center;
}

/*!----------------------------------------------------------------
 *
 *  Headline / font
 *
 *----------------------------------------------------------------*/

body {
  h1,h2,h3,h4 {
    font-family: "Rounded Mplus 1c";
  }
}

section {
  h1 {
    text-align:center;
    margin:10px 0 0;
    img {
      height:60px;
      margin-right:0.5rem;
    }
  }
}

h2 {
  text-align:center;
  font-size:1.2rem;
  font-weight:500;
  position:relative;
  margin:2rem 0 2rem;

  &:after {
    content : '';
    width:10px;height:10px;
    border-radius:100%;
    background-color: $primary-color;
    display:inline-block;
    margin:auto;
    position:absolute;
    left:0; right:0; bottom:-20px;
  }
}

.introduction p {
  font-size:1rem;
  max-width:600px;
  margin:auto;
  margin-top:1rem;

  @media screen and (max-width: 767px) {
    font-size:0.9rem;
  }
}

/*!----------------------------------------------------------------
 *
 *  override
 *
 *----------------------------------------------------------------*/

a {
  text-decoration:none;
  color: $primary-color;

  ons-icon {
    margin-right:0.2rem;
  }
}


hr {
  border:none;
  border-top: 1px solid $medium-gray;
  margin-top:2rem;
}


/*!----------------------------------------------------------------
 *
 *  画像処理
 *
 *----------------------------------------------------------------*/

img.circle {
  border-radius:100%;
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);

  &.owner {
    width:100px;height:100px;
  }

  &.first {
    width:300px;height:300px;
    position:absolute;
    top:1.5rem;right:1rem;
  }

  &.second {
    width:220px;height:220px;
    position:absolute;
    bottom:2rem;right:30%;
  }
}

/*!----------------------------------------------------------------
 *
 *  リスト
 *
 *----------------------------------------------------------------*/

ul {
  list-style-type: none;
}

ul.information {
  padding:1rem 0 0 0;
  margin:auto;

  &> li {
    display:flex;
    margin-bottom:2rem;
    padding-bottom:2rem;
    border-bottom: 1px solid $medium-gray;

    &:last-child{
      border-bottom: none;
      margin-bottom:0;
    }

    .date {
      background-color: $white;
      border:1px solid $primary-color;
      border-radius:20px;
      width:80px; height:80px;
      text-align:center;
      position:relative;

      div {
        position:absolute;
        right:0;left:0;
        top:0.6rem;
        color:$primary-color;

        .month{
          display:block;
          font-size:1rem;
        }
        .day {
          position:relative;top:-0.2rem;
          display:block;
          font-size:2rem;
        }
        .other {
          position:relative;top:1rem;
        }
      }
    }

    .detail {
      flex-grow:1;
      flex-shrink:10;
      padding-left:1rem;
      h3 {
        margin:0;padding:0 0 0.2rem;
        font-size:1.2rem;

        @media screen and (max-width: 767px) {
          font-size:1rem;
        }
        display:inline-block;
        font-weight:400;
      }

      ul{
        padding:0;
        font-size:1rem;
        @media screen and (max-width: 767px) {
          font-size:0.9rem;
        }
        li {
          margin-bottom:0;padding-bottom:0;
        }
      }

      p {
        padding:0;margin:0;
      }

      ons-button.button {
        padding:3px 10px 3px;
        font-size:12px;
        line-height:1.1rem;
        margin-top:0.2rem;
        min-height:inherit;
      }
    }
  }
}

ul.photo-gallery {
  display:flex;
  padding:1rem 0 0;
  flex-wrap:wrap;
  justify-content: center;

  li {
    margin:0 2px 4px;
    width:220px;
    height:145px;
    overflow: hidden;
    background-color:red;

    img {
      width:220px;
      border-radius:2px;
    }
  //  flex-wrap:wrap;
  }
}

/*!----------------------------------------------------------------
 *
 *  テーブル
 *
 *----------------------------------------------------------------*/

table {
  letter-spacing: 1px;
  font-size:1rem;

  @media screen and (max-width: 767px) {
    font-size:0.9rem;
  }

  th {
    font-weight:normal;
  }
}

.tag {
  margin:0 0 2rem;
  padding:2rem 1rem;
  list-style-type:none;
  background-color: rgba( 0, 0, 0, 0.5 );
  display:inline-block;
  color:$white;


  th {
    width:85px;
    text-align:right;
  }

  td{
    ul {
      margin:0 1rem;padding:0;
      list-style-type:none;
      display:flex;

      li {

        margin-right:0.5rem;
      }
    }

    ul.place {
      li::after {
        content: '>';
        position:relative;
        left:0.1rem;
      }
      li:last-child::after {
        content: '';
      }
    }
  }


  @media screen and (max-width: 767px) {
    display:block;
  }
}


.shop-information {
  th {
    text-align:right;
    vertical-align: top;
    min-width:70px;
  }

  td {
    padding-left:1rem;
    overflow: hidden;
  }

}

/*!----------------------------------------------------------------
 *
 *  モーダル
 *
 *----------------------------------------------------------------*/

.modal__content {
  padding:1rem;
}

.modal-window {
  max-width:500px;
  max-height:100%;
  overflow: scroll;
  margin:auto;
  text-align:left;
  background-color: rgba(255,255,255,0.9);
  color:$black;
  padding:1rem 4rem 2rem;
}


/*!----------------------------------------------------------------
 *
 *  個別
 *
 *----------------------------------------------------------------*/

.hero-image {
  background-image: url('image/20161222/hero-DSC06170-3.jpg');
  background-size:100% auto;
  background-repeat: no-repeat;
  position:relative;

  @media screen and (max-width: 767px) {
    img {
      display:none;
    }
  }

  @media screen and (min-width: 768px) {
    height: 35rem;
  }
}

.date.first {
  display:inline-block;
  margin:auto;
  width: 8rem;
  height:8rem;
  border-radius:100%;
  background-color: $primary-color;
  color: $white;
  .month {
  }
}

footer {
  background-color:$black;
  height:20px;
}